<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Musicians</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>Musician ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Type of Music</th>
    <th>Home City</th>
    <th>Home State</th>
    <th>Phone</th>
    <th>Salary</th>
  </tr>
  <% if(typeof musicians != "undefined" && musicians.length > 0){ %>
    <% musicians.forEach(function(musician){ %>
      <tr>
        <td><%= musician.musicianID %></td>
        <td><%= musician.firstName %></td>
        <td><%= musician.lastName %></td>
        <td><%= musician.typeOfMusic %></td>
        <td><%= musician.homeCity %></td>
        <td><%= musician.homeState %></td>
        <td><%= musician.phone %></td>
        <td><%= musician.salary %></td>
      </tr>
    <% }) %>
  <% }else{ %>
      <tr>
        <td colspan="8">0 records found</td>
      </tr>
  <% } %>
  
</table>


